body {
    background-color: white;
    color: black;
    margin: 0 auto;
}

.markdown-body {
    display: block;
}

img#main {
    max-width: 650px;
    border: solid #fff;
    border-width: 6px 6px 20px 6px;
    box-shadow: 1px 1px 5px #333;
    -webkit-box-shadow: 1px 1px 5px #333;
    -moz-box-shadow: 1px 1px 5px #333;
    display: block;
    margin-left: 10px;
}

img#coming-soon {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
}

#top {
    margin-left: 10%;
    margin-right: 15%;
}

.podcast-links {
  max-width: 650px;
  margin-left: 14px;
}


/* Flexbox setup */

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
}
